#map {
    height: 800px;
    width: 1000px;
    border-radius: 10px;
    filter: sepia(100%) brightness(58%) contrast(500%) saturate(100%) grayscale( 50%) hue-rotate(-10deg);
    
}

#mapContainer {
    display: flex;
    width: 80%;
    align-items: center;    
}
#map-mapContainer{
    background-image: url("imgs/mapa.jpg");
    background-repeat: no-repeat;
    background-size: 1050px 860px;
    
    padding: 25px;
    border-radius: 10px;
}
#clockContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

#infoContainer {
    display: flex;
    flex-direction: column;
}

#digitalClock {
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: black;

}

#horasMinutosContainer {
    display: flex;
    justify-content: space-between;
}

#horasContainer,
#minutosContainer,
#segundosContainer {
    display: flex;
    width: 28%;
    justify-content: space-between;
}

#horaD,
#horaU,
#minutoD,
#minutoU,
#segundoD,
#segundoU {
    height: 46px;
    width: 45%;
    background-size: cover;
    background-position: center;
}
#clockBtnContainer{
    display: flex;
}

#fecha{
    font-size: smaller;    
    padding: 0px 10px;
}
#clockBtnModo {
    background-color: red;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clockBtnFecha{
    background-color: greenyellow;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fechaContainer{
    display: flex;
    height: 60px;
    width: 100%;
    margin: 10px 0px;
    color: dodgerblue;
    justify-content: space-between;
}
#region{
    font-size: medium;
    font-weight: bold;
    
}
/* #pmam{
    visibility: hidden;
} */