body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

#mainContent {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    overflow-y: scroll;
}

header,
footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

header {
    align-self: flex-start;

}

footer {
    align-self: flex-end;
}

#containerName {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 50px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#containerQuiz {
    display: none;
    /*poner en flex desde js*/
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

#containerQuiz>* {
    margin: 20px;
}

#containerName>* {
    margin: 5px;
}

#fname {
    font-size: larger;
    padding: 10px;
}

#btnName {
    font-size: large;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

#containerInputs {
    display: flex;
    flex-wrap: wrap;
}

#containerInputs>* {
    flex: 1 1 50%;
}

.ronda {
    display: flex;
    justify-content: space-between;
}

.ronda>* {
    flex-basis: 50%;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
}

#corregir {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: none;
    cursor: pointer;
    margin-bottom: 20px;
}
#btnReiniciar{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
#gameOver{
    display: none;
    align-items: center;
    flex-direction: column;
}
#congratulations{
    display: none;
    align-items: center;
    flex-direction: column;
}
